APP_NAME=logimarketplaceproxy
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOGI_MARKETPLACE_BASE_URL=https://marketplace.logi.com
LOGI_MARKETPLACE_BUILD_ID=
LOGI_MARKETPLACE_CACHE_TTL=1800

DB_CONNECTION=mysql
DB_HOST=mysqldb
DB_PORT=3306
DB_DATABASE=blogdb
DB_USERNAME=root
DB_PASSWORD=qwerty

SESSION_DRIVER=file
CACHE_STORE=database
QUEUE_CONNECTION=database
